body {
  margin: 0;
  padding: 0;
  background-color: #FED3BE;
  color: #3a3846;
  font-size: 20px;
}

header {
  height: 20px;
  background-color: #639a88;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 5rem;
}


img {
  max-width: 200px;
  float: left;
  padding: 10px;
}

a:link{
  font-weight: bold;
  color: #DeD9DD;
  text-decoration: none;
  
}

a:hover{
  color: #FED3BE;
  font-size: 1em;
}

a:active{
  color: #E1BB47;
}

a:visited {
  font-weight: bold;
  color: #BB8998;
  text-decoration: none;
    
}

li:nth-child(2) {
  padding: 10px;
}

.sticky {
	background-color: #3a3846;
	position: fixed;
	top: 0;
  width: 100%;
  overflow: hidden;
}

.list-inline {
	list-style: none;
	margin-left: 5em;
	margin-right: -0.5em;
	padding: 0;
}

.list-inline > li {
	display: inline-block;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.list-inline > li:before {
	position: absolute; 
}

section {
  margin-left: 10px;
  margin-bottom: 0;
  padding: 10px 10px 10px 20px;
  background-color: #bb8998;
}